// abstracts

@import "./abstracts/variables";
@import "./abstracts/mixins";


// base

@import "./base/base";
@import "./base/typography";
@import "./base/animations";
@import "./base/utilities";

// components

@import "./components/card";
@import "./components/scrollTop";
@import "./components/button";
@import "./components/favorite";
@import "./components/form";
@import "./components/icon";
@import "./components/banner";
@import "./components/recipeCard";
@import "./components/sidebar";
@import "./components/skeleton";

// layout

@import "./layout/footer";
@import "./layout/header";


// pages

@import "./pages/home";
@import "./pages/recipeDetail";
@import "./pages/pnf";
