.text__box {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-gray-light, 0.8),
      rgba($color-gray-dark-2, 0.8)
    ),
    url(../../../images/header.jpg);
  background-size: cover;
  background-position: top;
  margin: 4rem auto;
  padding: 3rem;
  height: 85vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &--title {
    padding: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    white-space: nowrap;
  }
}
