.card {
  perspective: 15000px;
  -moz-perspective: 15000px;
  position: relative;
  height: 30rem;
  width: 35rem;
  overflow: hidden;
  margin: 4rem;
  border-radius: 10px;
  overflow: hidden;

  &__side {
    height: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(#111, 0.15);

    &--front {
      background-color: $color-gray-light;

      &--img {
        img {
          width: 100%;
          height: 100%;
          opacity: 65%;
          background-size: cover;
        }
      }
      &--heading {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        text-shadow: $color-black 0.1em 0.1em 0.2em;
      }
    }

    &--back {
      transform: rotateY(180deg);

      &--heading {
        width: 90%;
        padding: 1rem;
        line-height: 3rem;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: $color-gray-dark-2;

        span {
          display: block;
          position: absolute;
          right: 3rem;
          margin-top: 3rem;
        }
      }

      &-1 {
        background-color: $color-primary;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //@include respond(tab-port)
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-gray-light;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
  }
}
