.card {
  perspective: 15000px;
  -moz-perspective: 15000px;
  position: relative;
  height: 30rem;
  width: 35rem;
  margin: 4rem;
  cursor: pointer;

  &__side {
    height: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(#111, 0.15);

    &--front {
      &--img {
        background-size: cover;

        img {
          opacity: 65%;
          width: 100%;
          height: auto;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &--heading {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        text-shadow: $color-black 0.1em 0.1em 0.2em;
      }
    }

    &--back {
      transform: rotateY(180deg);
      background-color: $color-primary;
    }
  }

  &__detail {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__textbox {
    text-align: left;
    padding: 1rem;
    color: $color-gray-dark-2;

    &-heading {
      font-size: 2rem;
      line-height: 3.5rem;
      @include respond(phone) {
        line-height: 5rem;
      }
    }
    &-author {
      font-size: 1.8rem;
      display: block;
      position: absolute;
      right: 3rem;
      margin-top: 3rem;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-primary;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--front {
        &--img {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 97%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 97%);
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
      }

      &--back {
        transform: rotateY(0);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__detail {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 3rem 4rem 4rem 4rem;
    }

    &__textbox {
      margin-bottom: 3rem;
      text-align: center;

      &-heading {
        font-size: 2.5rem;
        text-align: left;
      }

      &-author {
        font-size: 2.2rem;
      }
    }
  }
}
