.favorite {
  margin: 3rem auto;

  &__titles {

    span:first-child {
      padding-left: 2rem;
    }
  }
}

.favorite__item {
  list-style: none;
  padding: 1rem 0;

  &--label {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.5rem;

    &--image {
      padding: 1rem;
      width: 150px;
      margin-right: 1rem;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  a {
    text-decoration: none;
    color: #5f6266;
  }

  &--calories {
    display: flex;
    align-items: center;
  }
}

// grid

.favorite__item,
.favorite__titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
