.scrollTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 7.5%;
  right: 5%;
  background-color: hsl(0, 0%, 25%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  display: none;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0px 0px 20px -6px rgba(66, 63, 66, 0.81);

  &__icon {
    transform: scale(3);
    color: $color-white;
    transition: all 0.3s ease;
  }

  &:hover {
    opacity: 1;
    background-color: hsl(0, 0%, 20%);
  }

  &:active {
    background-color: #555;
  }
}
