.sidebar {
  &__menu {
    z-index: 2000;
    cursor: pointer;
    position: fixed;
    top: 1.5rem;
    right: 3rem;
    display: none;
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1500;
    background-color: $color-gray-light;
    transition: all 850ms cubic-bezier(0.6, 1.05, 1, 0.93);
  }

  .active {
    right: 0;
    transition: all 650ms cubic-bezier(0.17, 0.67, 0.52, 1);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: left;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      color: white;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;
      display: flex;

      span {
        display: inline-block;
        margin-right: 1rem;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-gray-dark-2;
      transform: translateX(1rem);
    }
  }
}

.menu-icon {
  transform: scale(1.5);
  color: $color-gray-dark-1;
}

@media (max-width: 780px) {
  .sidebar__menu {
    display: block;
  }
}
