.skeleton {
  background-color: $color-gray-light;
  margin: 1rem 0;
  border-radius: 4px;

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &.text {
    width: 100%;
    height: 1rem;
  }

  &.title {
    width: 70%;
    height: 2rem;
    margin-bottom: 1.2rem;
  }

  &.title2 {
    width: 100%;
    height: 3rem;
    margin-bottom: 3.5rem;
  }

  &.pic {
    width: 340px;
    height: 190px;
    margin-bottom: 1.5rem;
  }

  &.pic2 {
    width: 250px;
    height: 260px;
    margin-bottom: 1.5rem;
  }

  &.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    align-items: center;
    margin: 1rem;
    margin-bottom: 5rem;
  }
  &-ingredient {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    align-items: center;
    margin: 1rem;
    margin-bottom: 5rem;
  }
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: skeletonLoad 2s infinite;

  &__white {
    width: 50%;
    height: 100%;
    background-color: rgba($color-white, 0.2);
    transform: skewX(-20deg);
    box-shadow: 0 0 3rem 3rem rgba($color-white, 0.05);
  }
}
