.home{
    background-color:$color-gray-light;
    margin: 5rem auto;
    padding: 1rem;
  
    &__title {
      margin-top: 5rem;
      padding: 2rem;
      height: 40vh;
    }
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #d8dee9;
  padding: 2rem;
  margin: 1rem;
}


.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  /* height: 700vh; */
}

.recipeCard {
  position: relative;
  transition: transform 0.2s;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 2rem;

  a{
    text-decoration: none;
    color: #fff;
  }

  &-heading{
    font-size:1.8rem;
    font-weight:500;
  }

  &-calories{
    text-align:center;
    font-size:1.5rem;
    color:$color-gray-light;

  
  }
 
}
.recipeCard-icon{
  font-size:160% !important;
  color:$color-gray-light;
}

.addFavorites--red {
  color: red;
}
