*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%;
  font-size: 62.5%; // 1 rem = 10 px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  background-color: $color-primary;
}
