@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
  font-weight: 700;
  color: $color-black;

  &--main {
    display: block;
    font-size: 5.5rem;
    font-weight: 600;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2.6rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-weight: 700;
  font-size: 3.5rem;
  display: inline-block;
  text-transform: uppercase;
  color: $color-gray-dark-1;
  letter-spacing: 1rem;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: $color-gray-dark-2;

  @include respond(phone) {
    letter-spacing: none;
  }
}

.paragraph {
  font-size: $default-font-size;
  line-height: 3rem;
  font-weight: 500;
  color: $color-gray-dark-3;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }
}
