/* header */

.header {
  margin: auto;
  padding: 0px 30px;
}
.navbar {
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease-in;
  background-color: white;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.nav__black {
  /* background-color: #868e96; */
  /* box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); */
}
.navbar .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.navbar .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover,
.headerIcon:hover {
  color: #007bff;
}

.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .header {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .header {
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

.header_container {
  position: fixed;
  top: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 20vh;
  padding: 0 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.header__black {
  background-color: #111;
}

.header_container a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favoriteIcon {
  color: #1c1e21;
}

.headerForm {
  border-radius: 30px;
  background-color: #fff;
}

.headerForm > input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 0.95rem;
  font-weight: bold;
  padding-left: 1em;
  font-family: "Nunito", sans-serif;
  color: #868e96;
}

::placeholder {
  color: #868e96;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.searchIcon {
  color: #868e96;
}

.form input {
  background-color: transparent;
  border: none;
  outline-width: 0;
}

.form {
  border-radius: 33px;
  padding: 10px;
  background-color: #f0f2f5;
}
