@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: #e5e9f0;
}

/* Page Not Found */
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(68, 68, 68);
  min-height: 80vh;
}

.page-not-found h2 {
  font-size: 55px;
}

.page-not-found p {
  font-size: 30px;
}

/* header */

.content {
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease-in;
}
.nav__black {
  /* background: #1b1b1b; */
  background-color: #868e96;
  /* padding: 10px 0; */
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.navbar .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover,
.favoriteIcon:hover {
  color: #007bff;
}

.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

.header_container {
  position: fixed;
  top: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 20vh;
  padding: 0 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.header__black {
  background-color: #111;
}

.header_container a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favoriteIcon {
  color: white;
}

/*

.header__logo {
  position: fixed;
  left: 0;
  width: 80px;
  cursor: pointer;
  padding-left: 20px;
  color: white;
  text-decoration: none;
}



.header-login {
  position: fixed;
  right: 70px;
  cursor: pointer;
}

.header-login a {
  text-decoration: none;
  color: white;
}

.header-login h4 {
  font-weight: 400;
}

.favoriteIcon {
  color: white;
  position: fixed;
  right: 20px;
  cursor: pointer;
} */

/* .favoriteIcon:hover {
  color: red;
} */

.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  /* height: 700vh; */
}

.recipeCard {
  position: relative;
  transition: transform 0.2s;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 2rem;
}

.recipeCard a {
  text-decoration: none;
  color: #fff;
}

.addFavorites--red {
  color: red;
}

/* recipeFavorite  */

.recipeFavorite_container {
  padding: 2rem 4rem;
  margin: 30px 0;
}

.recipeFavorite_container > h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.recipeFavorite_container .titles {
  margin: 2rem 0 1rem 0;
}

.recipeFavorite_container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.recipe-item {
  border-top: 1px solid rgba(187, 187, 187);
  padding: 1rem 0;
}

.recipe-item .recipe-label {
  display: flex;
}

.recipe-item,
.recipeFavorite_container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  column-gap: 0.5rem;
}

.recipeFavorite_container .titles .recipe-title {
  padding-left: 0.5rem;
}

.recipe-item .recipe-label img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.recipe-item .recipe-label h3 {
  font-weight: 400;
}

.recipe-item .recipe-label button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background-color: none;
  color: gray;
}

.recipe-item .recipe-label button:hover {
  color: black;
}

.recipe-remove {
  color: #434c5e;
}

.recipe-remove:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.recipe-calories {
  display: flex;
}

.recipe-dietLabels h4 {
  font-weight: 400;
  color: gray;
}

.recipe-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgba(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-empty .start-searching-recipes a {
  text-decoration: none;
  color: gray;
}

/* Scroll Top */

.scrollTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: 5%;
  background: hsl(0, 0%, 25%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  display: none;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0px 0px 20px -6px rgba(66, 63, 66, 0.81);
}

.scrollTop i {
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.scrollTop:hover {
  opacity: 1;
  background: hsl(0, 0%, 20%);
}

.scrollTop:hover i {
  color: #fff;
}

.scrollTop:active {
  background-color: #555;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
