@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: #e5e9f0;
}

/* Page Not Found */
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(68, 68, 68);
  min-height: 80vh;
}

.page-not-found h2 {
  font-size: 55px;
}

.page-not-found p {
  font-size: 30px;
}

/* header */

.header_container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 4rem;
}

.header-login a {
  text-decoration: none;
  color: white;
}

.header-login h4 {
  font-weight: 400;
}

.favoriteIcon {
  color: white;
}

.favoriteIcon:hover {
  color: red;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recipeCard {
  position: relative;
  transition: transform 0.2s;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 2rem;
}

.addFavorites--red {
  color: red;
}

/* recipeFavorite  */

.recipeFavorite_container {
  padding: 2rem 4rem;
}

.recipeFavorite_container > h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.recipeFavorite_container .titles {
  margin: 2rem 0 1rem 0;
}

.recipeFavorite_container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.recipe-item {
  border-top: 1px solid rgba(187, 187, 187);
  padding: 1rem 0;
}

.recipe-item .recipe-label {
  display: flex;
}

.recipe-item,
.recipeFavorite_container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr 1fr;
  column-gap: 0.5rem;
}

.recipeFavorite_container .titles .recipe-title {
  padding-left: 0.5rem;
}

.recipe-item .recipe-label img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.recipe-item .recipe-label h3 {
  font-weight: 400;
}

.recipe-item .recipe-label button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background-color: none;
  color: gray;
}

.recipe-item .recipe-label button:hover {
  color: black;
}

.recipe-calories {
  display: flex;
}

.recipe-dietLabels h4 {
  font-weight: 400;
  color: gray;
}

.recipe-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgba(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-empty .start-searching-recipes a {
  text-decoration: none;
  color: gray;
}
